NEXT_PUBLIC_APP_NAME="Discuz! Q"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# API 地址
NEXT_PUBLIC_API_BASE_URL="http://localhost:8000/api/v1"
API_BASE_URL="http://localhost:8000/api/v1"

# 站点信息
NEXT_PUBLIC_SITE_DESCRIPTION="新一代社区论坛系统"
NEXT_PUBLIC_SITE_KEYWORDS="Discuz,社区,论坛,问答"
