{
    "openapi": "3.0.0",
    "info": {
        "title": "Discuz! Q后台接口文档",
        "description": "本文档适用于对Discuz! Q进行二开的用户参考使用",
        "termsOfService": "https://gitee.com/Discuz/Discuz-Q",
        "contact": {
            "email": "coralchu@tencent.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://discuz.com/docs"
        },
        "version": "3.0"
    },
    "servers": [
        {
            "url": "https://discuz.chat",
            "description": "Discuz! Q 官方网站"
        },
        {
            "url": "https://www.techo.chat",
            "description": "Discuz! Q 体验站"
        }
    ],
    "paths": {
        "/api/backAdmin/forum": {
            "get": {
                "tags": [
                    "管理后台"
                ],
                "summary": "全局配置信息",
                "description": "全局配置信息",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回站点配置详情",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "properties": {
                                                        "setSite": {
                                                            "description": "网站设置",
                                                            "properties": {
                                                                "siteName": {
                                                                    "description": "网站名称",
                                                                    "type": "string"
                                                                },
                                                                "siteTitle": {
                                                                    "description": "网站标题",
                                                                    "type": "string"
                                                                },
                                                                "siteKeywords": {
                                                                    "description": "网站关键词",
                                                                    "type": "string"
                                                                },
                                                                "siteIntroduction": {
                                                                    "description": "网站介绍",
                                                                    "type": "string"
                                                                },
                                                                "siteMode": {
                                                                    "description": "公开模式",
                                                                    "type": "string",
                                                                    "enum": [
                                                                        "private",
                                                                        "public"
                                                                    ]
                                                                },
                                                                "openExtFields": {
                                                                    "description": "开启扩展字段注册",
                                                                    "type": "integer"
                                                                },
                                                                "siteClose": {
                                                                    "description": "关闭站点",
                                                                    "type": "boolean"
                                                                },
                                                                "siteManage": {
                                                                    "description": "网站各端开启或关闭",
                                                                    "type": "object"
                                                                },
                                                                "apiFreq": {
                                                                    "description": "接口限频",
                                                                    "type": "object"
                                                                },
                                                                "siteCloseMsg": {
                                                                    "description": "网站关闭提示语",
                                                                    "type": "string"
                                                                },
                                                                "siteFavicon": {
                                                                    "description": "网站默认浏览器标签栏图标",
                                                                    "type": "string"
                                                                },
                                                                "siteLogo": {
                                                                    "description": "网站logo",
                                                                    "type": "string"
                                                                },
                                                                "siteHeaderLogo": {
                                                                    "description": "首页头图",
                                                                    "type": "string"
                                                                },
                                                                "siteBackgroundImage": {
                                                                    "description": "背景图设置",
                                                                    "type": "string"
                                                                },
                                                                "siteUrl": {
                                                                    "description": "网站域名地址",
                                                                    "type": "string"
                                                                },
                                                                "siteStat": {
                                                                    "description": "",
                                                                    "type": "string"
                                                                },
                                                                "siteAuthor": {
                                                                    "description": "网站默认管理员",
                                                                    "type": "object"
                                                                },
                                                                "siteInstall": {
                                                                    "description": "网站安装时间",
                                                                    "type": "string"
                                                                },
                                                                "siteRecord": {
                                                                    "description": "网站备案信息",
                                                                    "type": "string"
                                                                },
                                                                "siteCover": {
                                                                    "description": "",
                                                                    "type": "string"
                                                                },
                                                                "siteRecordCode": {
                                                                    "description": "网站备案号",
                                                                    "type": "string"
                                                                },
                                                                "siteMasterScale": {
                                                                    "description": "",
                                                                    "type": "string"
                                                                },
                                                                "sitePayGroupClose": {
                                                                    "description": "",
                                                                    "type": "string"
                                                                },
                                                                "siteMinimumAmount": {
                                                                    "description": "",
                                                                    "type": "string"
                                                                },
                                                                "siteOpenSort": {
                                                                    "description": "",
                                                                    "type": "string"
                                                                },
                                                                "usernameLoginIsdisplay": {
                                                                    "description": "显示登录用户名",
                                                                    "type": "boolean"
                                                                },
                                                                "openApiLog": {
                                                                    "description": "打开api日志",
                                                                    "type": "boolean"
                                                                },
                                                                "openViewCount": {
                                                                    "description": "打开默认阅读计数规则",
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "setReg": {
                                                            "description": "注册设置",
                                                            "properties": {
                                                                "registerClose": {
                                                                    "description": "开启注册",
                                                                    "type": "boolean"
                                                                },
                                                                "registerValidate": {
                                                                    "description": "注册验证",
                                                                    "type": "boolean"
                                                                },
                                                                "registerCaptcha": {
                                                                    "description": "开启验证码",
                                                                    "type": "string"
                                                                },
                                                                "passwordLength": {
                                                                    "description": "密码长度",
                                                                    "type": "string"
                                                                },
                                                                "passwordStrength": {
                                                                    "description": "密码强度规则",
                                                                    "type": "array",
                                                                    "items": {}
                                                                },
                                                                "registerType": {
                                                                    "description": "0:用户名 1:手机号 2:微信无感模式",
                                                                    "type": "integer",
                                                                    "enum": [
                                                                        0,
                                                                        1,
                                                                        2
                                                                    ]
                                                                },
                                                                "isNeedTransition": {
                                                                    "description": "",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "passport": {
                                                            "description": "账号密钥",
                                                            "properties": {
                                                                "offiaccountOpen": {
                                                                    "description": "开启公众号注册",
                                                                    "type": "boolean"
                                                                },
                                                                "miniprogramOpen": {
                                                                    "description": "开启小程序注册",
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "paycenter": {
                                                            "description": "支付设置",
                                                            "properties": {
                                                                "wxpayClose": {
                                                                    "description": "开启微信支付",
                                                                    "type": "boolean"
                                                                },
                                                                "wxpayIos": {
                                                                    "description": "开启ios微信支付",
                                                                    "type": "boolean"
                                                                },
                                                                "wxpayMchpayClose": {
                                                                    "description": "开启企业打款到零钱",
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "setAttach": {
                                                            "description": "附件设置",
                                                            "properties": {
                                                                "supportImgExt": {
                                                                    "description": "支持的图片后缀名称",
                                                                    "type": "string"
                                                                },
                                                                "supportFileExt": {
                                                                    "description": "支持的文件后缀名称",
                                                                    "type": "string"
                                                                },
                                                                "supportMaxSize": {
                                                                    "description": "支持最大文件,单位MB",
                                                                    "type": "integer"
                                                                },
                                                                "supportMaxDownloadNum": {
                                                                    "description": "单个用户一天下载的最多次数",
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "qcloud": {
                                                            "description": "腾讯云设置",
                                                            "properties": {
                                                                "qcloudAppId": {
                                                                    "description": "腾讯云appid",
                                                                    "type": "string"
                                                                },
                                                                "qcloudClose": {
                                                                    "description": "开启腾讯云服务",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudCos": {
                                                                    "description": "开启cos对象存储",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudCaptcha": {
                                                                    "description": "开启验证码",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudCaptchaAppId": {
                                                                    "description": "验证码应用id",
                                                                    "type": "string"
                                                                },
                                                                "qcloudFaceid": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudSms": {
                                                                    "description": "短信",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudVod": {
                                                                    "description": "云点播",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudCosDocPreview": {
                                                                    "description": "cos文件预览",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudCosBucketName": {
                                                                    "description": "存储桶名称",
                                                                    "type": "string"
                                                                },
                                                                "qcloudCosBucketArea": {
                                                                    "description": "存储桶地区",
                                                                    "type": "string"
                                                                },
                                                                "qcloudCosSignUrl": {
                                                                    "description": "存储桶签名",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudVodAutoPlay": {
                                                                    "description": "云点播视频自动播放",
                                                                    "type": "boolean"
                                                                },
                                                                "qcloudVodExt": {
                                                                    "description": "视频后缀名",
                                                                    "type": "string"
                                                                },
                                                                "qcloudVodSize": {
                                                                    "description": "视频文件大小",
                                                                    "type": "string"
                                                                },
                                                                "qcloudVodSubAppId": {
                                                                    "description": "云点播应用id",
                                                                    "type": "string"
                                                                },
                                                                "qcloudVodWatermark": {
                                                                    "description": "云点播水印",
                                                                    "type": "string"
                                                                },
                                                                "qcloudVodToken": {
                                                                    "description": "云点播回调验证码",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "setCash": {
                                                            "description": "网站分成",
                                                            "properties": {
                                                                "cashRate": {
                                                                    "description": "提现费率0~1",
                                                                    "type": "number"
                                                                },
                                                                "cashMinSum": {
                                                                    "description": "最小提现金额",
                                                                    "type": "number"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "other": {
                                                            "description": "其他设置信息",
                                                            "properties": {
                                                                "countThreads": {
                                                                    "description": "主题总数",
                                                                    "type": "number"
                                                                },
                                                                "countPosts": {
                                                                    "description": "评论总数",
                                                                    "type": "number"
                                                                },
                                                                "countUsers": {
                                                                    "description": "用户总数",
                                                                    "type": "number"
                                                                },
                                                                "canEditUserGroup": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canEditUserStatus": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canCreateThreadInCategory": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canViewThreads": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canFreeViewPaidThreads": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canCreateDialog": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInviteUserScale": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadAttachment": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadPaid": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadVideo": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadImage": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadAudio": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadGoods": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadPosition": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadRedPacket": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadReward": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadAnonymous": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "canInsertThreadVote": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "initializedPayPassword": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "createThreadWithCaptcha": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "publishNeedBindPhone": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "publishNeedBindWechat": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                },
                                                                "disabledChat": {
                                                                    "description": "",
                                                                    "type": "boolean"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "lbs": {
                                                            "description": "lbs定位",
                                                            "properties": {
                                                                "lbs": {
                                                                    "description": "开启lbs定位服务",
                                                                    "type": "boolean"
                                                                },
                                                                "qqLbsKey": {
                                                                    "description": "qqlbs key[免费版]",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "ucenter": {
                                                            "description": "废弃字段",
                                                            "type": "object"
                                                        },
                                                        "agreement": {
                                                            "description": "网站协议",
                                                            "properties": {
                                                                "privacy": {
                                                                    "description": "开启隐私协议",
                                                                    "type": "boolean"
                                                                },
                                                                "privacyContent": {
                                                                    "description": "隐私协议内容",
                                                                    "type": "string"
                                                                },
                                                                "register": {
                                                                    "description": "注册协议",
                                                                    "type": "boolean"
                                                                },
                                                                "registerContent": {
                                                                    "description": "注册协议内容",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/categories": {
            "get": {
                "tags": [
                    "管理后台"
                ],
                "summary": "内容-内容分类",
                "description": "内容分类列表",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "内容分类列表",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "title": "内容分类列表",
                                            "description": "内容分类列表",
                                            "properties": {
                                                "Data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "categoryId": {
                                                                "description": "分类id",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "分类名称",
                                                                "type": "string"
                                                            },
                                                            "description": {
                                                                "description": "分类描述",
                                                                "type": "string"
                                                            },
                                                            "icon": {
                                                                "description": "图标",
                                                                "type": "string"
                                                            },
                                                            "sort": {
                                                                "description": "排序序号(前端可不关注)",
                                                                "type": "integer"
                                                            },
                                                            "property": {
                                                                "description": "属性(暂时不用)",
                                                                "type": "integer"
                                                            },
                                                            "threadCount": {
                                                                "description": "分类下帖子总数数",
                                                                "type": "integer"
                                                            },
                                                            "parentid": {
                                                                "description": "一级分类id",
                                                                "type": "integer"
                                                            },
                                                            "canCreateThread": {
                                                                "description": "是否可以在此分类下创建帖子",
                                                                "type": "boolean"
                                                            },
                                                            "searchIds": {
                                                                "type": "array",
                                                                "items": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "children": {
                                                                "type": "array",
                                                                "items": {
                                                                    "properties": {
                                                                        "categoryId": {
                                                                            "description": "分类id",
                                                                            "type": "integer"
                                                                        },
                                                                        "name": {
                                                                            "description": "分类名称",
                                                                            "type": "string"
                                                                        },
                                                                        "description": {
                                                                            "description": "分类描述",
                                                                            "type": "string"
                                                                        },
                                                                        "icon": {
                                                                            "description": "图标",
                                                                            "type": "string"
                                                                        },
                                                                        "sort": {
                                                                            "description": "排序序号(前端可不关注)",
                                                                            "type": "integer"
                                                                        },
                                                                        "property": {
                                                                            "description": "属性(暂时不用)",
                                                                            "type": "integer"
                                                                        },
                                                                        "threadCount": {
                                                                            "description": "分类下帖子总数数",
                                                                            "type": "integer"
                                                                        },
                                                                        "parentid": {
                                                                            "description": "一级分类id",
                                                                            "type": "integer"
                                                                        },
                                                                        "canCreateThread": {
                                                                            "description": "是否可以在此分类下创建帖子",
                                                                            "type": "boolean"
                                                                        },
                                                                        "searchIds": {
                                                                            "description": "用于搜索内容分类帖子的id数组，只有一个id时为数值，有多个时为数组",
                                                                            "type": "string"
                                                                        }
                                                                    },
                                                                    "type": "object"
                                                                }
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/login": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "管理员登录",
                "description": "管理员登录",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "description": "用户名",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "密码",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "返回登录态相关信息",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "properties": {
                                                        "tokenType": {
                                                            "description": "token 类型",
                                                            "type": "string"
                                                        },
                                                        "expiresIn": {
                                                            "description": "过期时间(秒),30天过期",
                                                            "type": "integer"
                                                        },
                                                        "accessToken": {
                                                            "description": "token",
                                                            "type": "string"
                                                        },
                                                        "id": {
                                                            "description": "用户id",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/topics.list": {
            "get": {
                "tags": [
                    "管理后台"
                ],
                "summary": "话题列表",
                "description": "话题列表",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    },
                    {
                        "$ref": "#/components/parameters/threadlist_page"
                    },
                    {
                        "$ref": "#/components/parameters/threadlist_perPage"
                    },
                    {
                        "name": "filter[recommended]",
                        "in": "query",
                        "description": "是否推荐",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter[username]",
                        "in": "query",
                        "description": "作者，展示应审核的回复",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[content]",
                        "in": "query",
                        "description": "搜索内容",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[createdAtBegin]",
                        "in": "query",
                        "description": "创建时间范围-起始",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[createdAtEnd]",
                        "in": "query",
                        "description": "创建时间范围-结束",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "filter[threadCountBegin]",
                        "in": "query",
                        "description": "主题数介于-起始数",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter[threadCountEnd]",
                        "in": "query",
                        "description": "主题数介于-截止数",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter[viewCountBegin]",
                        "in": "query",
                        "description": "热度数范围-起始数",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter[viewCountEnd]",
                        "in": "query",
                        "description": "热度数范围-截止数",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "返回话题列表",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "type": "object",
                                                    "allOf": [
                                                        {
                                                            "$ref": "#/components/schemas/dzq_pagination"
                                                        },
                                                        {
                                                            "properties": {
                                                                "pageData": {
                                                                    "type": "array",
                                                                    "items": {
                                                                        "type": "object",
                                                                        "allOf": [
                                                                            {
                                                                                "properties": {
                                                                                    "topicId": {
                                                                                        "description": "话题id",
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "userId": {
                                                                                        "description": "作者id",
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "username": {
                                                                                        "description": "作者用户名",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "content": {
                                                                                        "description": "话题内容",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "viewCount": {
                                                                                        "description": "热度数",
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "threadCount": {
                                                                                        "description": "主题数",
                                                                                        "type": "integer"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "createdAt": {
                                                                                        "description": "创建时间",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "recommended": {
                                                                                        "description": "是否推荐",
                                                                                        "type": "boolean"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "recommendedAt": {
                                                                                        "description": "推荐时间",
                                                                                        "type": "string"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "threads": {
                                                                                        "description": "关联主题",
                                                                                        "type": "array",
                                                                                        "items": {}
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        ]
                                                                    }
                                                                }
                                                            },
                                                            "type": "object"
                                                        }
                                                    ]
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/stopwords.batch": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "创建/修改敏感词接口(批量)",
                "description": "创建/修改敏感词接口(批量)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "words": {
                                        "description": "数组中每个元素都是按敏感词批量插入规则编写的字符串",
                                        "type": "array",
                                        "items": {
                                            "description": "「敏感词」=「替换词（或处理方式）」 ; 忽略 {IGNORE}、审核 {MOD}、禁止 {BANNED}、替换 {REPLACE}",
                                            "type": "string",
                                            "default": "士大夫=**|{IGNORE}|{IGNORE}|{IGNORE}"
                                        }
                                    },
                                    "overwrite": {
                                        "description": "是否覆盖原有敏感词",
                                        "type": "boolean"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "返回更新结果",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "properties": {
                                                        "type": {
                                                            "description": "数据类型",
                                                            "type": "string",
                                                            "default": "stop-words"
                                                        },
                                                        "created": {
                                                            "description": "创建数量",
                                                            "type": "integer"
                                                        },
                                                        "updated": {
                                                            "description": "修改数量",
                                                            "type": "integer"
                                                        },
                                                        "unique": {
                                                            "description": "重复数量",
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/categories.delete": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "内容-内容分类",
                "description": "删除内容分类(批量)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    }
                ],
                "requestBody": {
                    "description": "入参",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "id": {
                                        "description": "分类id字符串",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "出参",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/groups.batchdelete": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "批量删除用户组",
                "description": "批量删除用户组",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token_true"
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "description": "用户组id，多个请用英文逗号间隔",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "type": "array",
                                                    "items": {}
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/reports/delete": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "批量删除举报",
                "description": "批量删除举报",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token_true"
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "description": "举报id，多个请用英文逗号间隔",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/topics.batch.delete": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "批量删除话题",
                "description": "批量删除话题",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "description": "话题id，多个请用英文逗号间隔",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "type": "array",
                                                    "items": {}
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/threads.batch": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "批量修改帖子",
                "description": "批量修改帖子",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "ids": {
                                        "description": "帖子id，多个帖子id用英文逗号间隔",
                                        "type": "string"
                                    },
                                    "categoryId": {
                                        "description": "批量移动到的分类id",
                                        "type": "integer"
                                    },
                                    "isSticky": {
                                        "description": "批量置顶：1置顶，0取消置顶",
                                        "type": "integer"
                                    },
                                    "isEssence": {
                                        "description": "批量设置精华：1精华，0取消精华",
                                        "type": "integer"
                                    },
                                    "isSite": {
                                        "description": "批量推送到付费首页：1推送，0取消推送",
                                        "type": "integer"
                                    },
                                    "isDeleted": {
                                        "description": "批量删除",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "type": "object",
                                                    "allOf": []
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/categories.update": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "内容-内容分类",
                "description": "修改内容分类(批量)",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token"
                    }
                ],
                "requestBody": {
                    "description": "入参",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "description": "分类ID",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "分类名",
                                                    "type": "string"
                                                },
                                                "description": {
                                                    "description": "排序",
                                                    "type": "integer"
                                                },
                                                "sort": {
                                                    "description": "分类描述",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "出参",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/groups.batchupdate": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "批量修改用户组信息",
                "description": "批量修改用户组信息",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token_true"
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "description": "参数",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "description": "用户组id",
                                                    "type": "integer"
                                                },
                                                "name": {
                                                    "description": "用户组名称",
                                                    "type": "string"
                                                },
                                                "isSubordinate": {
                                                    "description": "是否可以推广下线",
                                                    "type": "boolean"
                                                },
                                                "scale": {
                                                    "description": "分成金额",
                                                    "type": "integer"
                                                },
                                                "default": {
                                                    "description": "是否默认",
                                                    "type": "boolean"
                                                },
                                                "isDisplay": {
                                                    "description": "是否显示",
                                                    "type": "boolean"
                                                },
                                                "type": {
                                                    "description": "类型",
                                                    "type": "string"
                                                },
                                                "color": {
                                                    "description": "颜色",
                                                    "type": "string"
                                                },
                                                "icon": {
                                                    "description": "icon",
                                                    "type": "string"
                                                },
                                                "isCommission": {
                                                    "description": "是否允许收入提成(打赏/付费)",
                                                    "type": "boolean"
                                                },
                                                "isPaid": {
                                                    "description": "是否是付费组0不是1是",
                                                    "type": "integer"
                                                },
                                                "fee": {
                                                    "description": "付费组 加入费用",
                                                    "type": "string"
                                                },
                                                "days": {
                                                    "description": "付费组 有效天数",
                                                    "type": "integer"
                                                },
                                                "level": {
                                                    "description": "付费组 等级",
                                                    "type": "integer"
                                                },
                                                "description": {
                                                    "description": "特权描述",
                                                    "type": "string"
                                                },
                                                "notice": {
                                                    "description": "购买须知",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "返回信息",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "description": "用户组id",
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "description": "用户组名称",
                                                                "type": "string"
                                                            },
                                                            "default": {
                                                                "description": "是否默认",
                                                                "type": "integer"
                                                            },
                                                            "color": {
                                                                "description": "颜色",
                                                                "type": "string"
                                                            },
                                                            "days": {
                                                                "description": "付费获得天数",
                                                                "type": "integer"
                                                            },
                                                            "fee": {
                                                                "description": "收费金额",
                                                                "type": "string"
                                                            },
                                                            "isCommission": {
                                                                "description": "是否可以收入提成",
                                                                "type": "boolean"
                                                            },
                                                            "isDisplay": {
                                                                "description": "是否显示在用户名后",
                                                                "type": "boolean"
                                                            },
                                                            "isPaid": {
                                                                "description": "是否收费：0不收费，1收费",
                                                                "type": "boolean"
                                                            },
                                                            "isSubordinate": {
                                                                "description": "是否可以推广下线",
                                                                "type": "boolean"
                                                            },
                                                            "scale": {
                                                                "description": "分成比例",
                                                                "type": "string"
                                                            },
                                                            "type": {
                                                                "description": "类型",
                                                                "type": "string"
                                                            },
                                                            "icon": {
                                                                "description": "icon",
                                                                "type": "string"
                                                            },
                                                            "level": {
                                                                "description": "付费组 等级",
                                                                "type": "integer"
                                                            },
                                                            "description": {
                                                                "description": "特权描述",
                                                                "type": "string"
                                                            },
                                                            "notice": {
                                                                "description": "购买须知",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/reports/batch": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "批量修改举报反馈",
                "description": "批量修改举报反馈",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/bear_token_true"
                    }
                ],
                "requestBody": {
                    "description": "",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "data": {
                                        "description": "参数",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "id": {
                                                    "description": "举报记录ID",
                                                    "type": "integer"
                                                },
                                                "status": {
                                                    "description": "状态",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/dzq_layout"
                                        },
                                        {
                                            "properties": {
                                                "Data": {
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/backAdmin/topics.batch.update": {
            "post": {
                "tags": [
                    "管理后台"
                ],
                "summary": "批量推荐话题",
                "description": "批量推荐话题",
                "parameters": [
                    {
[...]
